<!-- 500.html -->

{% extends 'management/layout.html' %}
{% block title %}404 Error {{super()}}{% endblock %}
{% block main %}

<div class="l-main__section">
     <div class="content">
          <div class="l-main__link-section">
               <a href="{{url_for('user.entry.entry')}}" class="u-txt-opt">
                    <i class="fa-solid fa-angles-left"></i>
                    <p class="l-main__link-section-text">Home</p>
               </a>
          </div>
          <h1 class='l-main__section-header'>500 Error</h1>
          <p class="l-main__section-brief p-management__section-brief">
               The server encountered an internal server error 
               and was unable to complete your request.
          </p>
     </div>
</div>
{% endblock %}