<form method="POST" id="user_form" novalidate>
    <span class="form_title"># {{title}}</span>
    {{ form.hidden_tag() }}

    {{ form.name_or_email.label(class="label_input") }}
    <span class="error_message" id="error_name" data-error="{{form.is_valid('name_or_email')}}">
        {{form.name_or_email.errors[0]}}</span>
    {{ form.name_or_email(class="input_text", placeholder="Nickname / email@address.com") }}
    <br>

    {{ form.password.label(class="label_input") }}
    <span class="error_message" id="error_password" data-error="{{form.is_valid('password')}}">
        {{form.password.errors[0]}}</span>
    {{ form.password(class="input_text", placeholder="Password") }}
    <br>

    {{ form.submit(class='submit') }}
</form>