<form method="POST" id="user_form" novalidate>
 <span class="form_title"># {{title}}</span>
 {{ form.hidden_tag() }}

 {{ form.password.label(class="label_input") }}
 <span class="error_message" id="error_password" data-error="{{form.is_valid('password')}}">
     {{form.password.errors[0]}}</span>
 {{ form.password(class="input_text", placeholder="Password") }}
 <br>

 {{ form.confirm.label(class="label_input") }}
 {{ form.confirm(class="input_text", placeholder="Password") }}
 <br>

 {{ form.submit(class='submit') }}
</form>