<!-- entry.html -->

{% extends 'project/user/layout.html' %}

{% block main %}

<section id="p-index-top" class="l-main__section">
    <div class="content">
        <h1 class="l-main__section-header">WELCOME TO LOG BASE</h1>
        <div class="row">
        <div class="p-index-top__entry-wrap col-sp-12 col-tab-5">
            <a href="{{url_for('user.entry.login')}}" class="p-index-top__entry p-index-top__signin-entry">
            サインイン
            <i class="fa-solid fa-angles-right"></i>
            </a>
            <a href="{{url_for('user.entry.signup')}}" class="p-index-top__entry p-index-top__signup-entry">
            アカウントを作成
            <i class="fa-solid fa-angles-right"></i>
            </a>
        </div>
        <div class="p-index-top__image-wrap col-sp-12 col-tab-7">
            <div style="min-height: 40vh; background-color: gray;"></div>
        </div>
        </div>
    </div>
</section>
<section id="p-index-about" class="l-main__section">
    <div class="content row">
        <h1 class="l-main__section-header">このサイトについて</h1>
        <div class="p-index-about__brief-wrap col-sp-12 col-tab-6">
        <div class="l-main__section-brief">
            こちらはポートフォリオ用に作成したWEBアプリです。
            <br>
            基本用途はグループ内でのメッセージのやり取りですが、
            <br>
            デスクトップではビデオチャットもご利用可能です。
            <br>
            どうぞ手塩にかけ育てた機能達に触れていってください。
        </div>
        <div>
            <a href="#" class="p-index-about__github-entry">GitHub <i class="fa-brands fa-github"></i></a>
        </div>
        </div>
        <div class="col-sp-12 col-tab-6">
        <h3 class="p-index-about__news-section-head">- Latest news -</h3>
        <ul class="p-index-about__news-list">
            <li class="p-index-about__news-wrap">
            <div class="p-index-about__news-header-wrap">
                <div class="p-index-about__news-pilar-icon"></div>
                <p class="p-index-about__news-header">news title 1</p>
            </div>
            <p class="p-index-about__news-date">2023/03/21</p>
            <p class="p-index-about__news-content">
                This is the latest news on this web application.
                <br>
                This is still being under construction.
                <br> We offer great apology for your inconvenience.
            </p>
            </li>
            <li class="p-index-about__news-wrap">
            <div class="p-index-about__news-header-wrap">
                <div class="p-index-about__news-pilar-icon"></div>
                <p class="p-index-about__news-header">news title 1</p>
            </div>
            <p class="p-index-about__news-date">2023/03/21</p>
            <p class="p-index-about__news-content">
                This is the latest news on this web application.
                <br>
                This is still being under construction.
                <br> We offer great apology for your inconvenience.
            </p>
            </li>
            <li class="p-index-about__news-wrap">
            <div class="p-index-about__news-header-wrap">
                <div class="p-index-about__news-pilar-icon"></div>
                <p class="p-index-about__news-header">news title 1</p>
            </div>
            <p class="p-index-about__news-date">2023/03/21</p>
            <p class="p-index-about__news-content">
                This is the latest news on this web application.
                <br>
                This is still being under construction.
                <br> We offer great apology for your inconvenience.
            </p>
            </li>
            <li class="p-index-about__news-wrap">
            <div class="p-index-about__news-header-wrap">
                <div class="p-index-about__news-pilar-icon"></div>
                <p class="p-index-about__news-header">news title 1</p>
            </div>
            <p class="p-index-about__news-date">2023/03/21</p>
            <p class="p-index-about__news-content">
                This is the latest news on this web application.
                <br>
                This is still being under construction.
                <br> We offer great apology for your inconvenience.
            </p>
            </li>
            <li class="p-index-about__news-wrap">
            <div class="p-index-about__news-header-wrap">
                <div class="p-index-about__news-pilar-icon"></div>
                <p class="p-index-about__news-header">news title 1</p>
            </div>
            <p class="p-index-about__news-date">2023/03/21</p>
            <p class="p-index-about__news-content">
                This is the latest news on this web application.
                <br>
                This is still being under construction.
                <br> We offer great apology for your inconvenience.
            </p>
            </li>
            <li class="p-index-about__news-wrap">
            <div class="p-index-about__news-header-wrap">
                <div class="p-index-about__news-pilar-icon"></div>
                <p class="p-index-about__news-header">news title 1</p>
            </div>
            <p class="p-index-about__news-date">2023/03/21</p>
            <p class="p-index-about__news-content">
                This is the latest news on this web application.
                <br>
                This is still being under construction.
                <br> We offer great apology for your inconvenience.
            </p>
            </li>
            <li class="p-index-about__news-wrap">
            <div class="p-index-about__news-header-wrap">
                <div class="p-index-about__news-pilar-icon"></div>
                <p class="p-index-about__news-header">news title 1</p>
            </div>
            <p class="p-index-about__news-date">2023/03/21</p>
            <p class="p-index-about__news-content">
                This is the latest news on this web application.
                <br>
                This is still being under construction.
                <br> We offer great apology for your inconvenience.
            </p>
            </li>
        </ul>
        </div>
    </div>
</section>
<section id="p-index-func" class="l-main__section">
    <div class="content row">
        <h1 class="l-main__section-header">機能</h1>
        <p class="l-main__section-brief">
        WEBアプリ内にて利用できる機能達を紹介します。
        </p>
        <div class="p-index-func__modal-entry col col-sp-12 col-tab-4">
        <div class="p-index-func__img-wrap">
            <div id="p-index-func__modal-opener--channel" class="p-index-func__modal-opener toggler" data-toggle="off"></div>
        </div>
        <p class="p-index-func__img-txt">チャンネル</p>
        </div>
        <div class="p-index-func__modal-entry col col-sp-12 col-tab-4">
        <div class="p-index-func__img-wrap">
            <div id="p-index-func__modal-opener--meeting" class="p-index-func__modal-opener toggler" data-toggle="off"></div>
        </div>
        <p class="p-index-func__img-txt">ミーティング</p>
        </div>
        <div class="p-index-func__modal-entry col col-sp-12 col-tab-4">
        <div class="p-index-func__img-wrap">
            <div id="p-index-func__modal-opener--message" class="p-index-func__modal-opener toggler" data-toggle="off"></div>
        </div>
        <p class="p-index-func__img-txt">メッセージ</p>
        </div>
        <div id="p-index-func__modal--channel" class="p-index-func__modal u-preload">
        <div id="p-index-func__modal-closer--channel" class="p-index-func__modal-closer c-btn--quad c-btn--hover-bg-white-back toggler">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="p-index-func__modal-wrap">
            <div class="p-index-func__modal-content row">
            <div class="col col-sp-12 col-tab-4">
                <p class="p-index-func__modal-header">チャンネル</p>
                <p class="p-index-func__modal-txt">
                Ariel, listen to me
                The human world, it's a mess
                Life under the sea is better than anything they've got up there
                <br>
                <br>
                The seaweed is always greener
                In somebody else's lake
                You dream about going up there
                But that is a big mistake
                Just look at the world around you
                Right here on the ocean floor
                Such wonderful things surround you
                What more is you lookin' for?
                <br>
                <br>
                Under the sea, under the sea
                Darling, it's better down where it's wetter
                Take it from me
                Up on the shore, they work all day
                Out in the sun they slave away
                While we devotin', full time to floatin'
                Under the sea (Ah-ha-ha)
                <br>
                <br>
                Down here all the fish is happy
                As off through the waves they roll
                The fish on the land ain't happy
                They sad cause they in their bowl
                But fish in the bowl is lucky
                They in for a worser fate
                One day when the boss get hungry
                Guess who's gon' be on the plate?
                Uh-oh!
                <br>
                <br>
                Under the sea, under the sea
                Nobody beat us
                Fry us and eat us in fricassee
                We what the land folks loves to cook
                Under the sea we off the hook
                We got no troubles, life is the bubbles
                Under the sea (Under the sea)
                Under the sea (Under the sea)
                Since life is sweet here
                We got the beat here naturally (Naturally-y-y-y)
                Even the sturgeon an' the ray
                They get the urge 'n' start to play
                We got the spirit, you got to hear it
                Under the sea
                <br>
                <br>
                [Bridge: Sebastian, Fluke]
                The newt play the flute
                The carp play the harp
                The plaice play the bass
                And they soundin' sharp
                The bass play the brass
                The chub play the tub
                The fluke is the duke of soul (Yeah)
                The ray he can play
                The lings on the strings
                The trout rockin' out
                The blackfish she sings
                The smelt and the sprat, they know where it's at
                An' oh that blowfish blow
                (Wah, ah-ha, yeah)
                </p>
            </div>
            <div class="col col-sp-12 col-tab-8">
                <div class="p-index-func__modal-thumnails modal-thumnails">
                <img src="src/img/sunflower.jpg" alt="詳細" data-status="on">
                <img src="src/img/space_big.png" alt="詳細">
                <img src="src/img/icescream.png" alt="詳細">
                </div>
                <div class="p-index-func__modal-mainimage modal-mainimages">
                <img src="src/img/sunflower.jpg" alt="詳細">
                <img src="src/img/space_big.png" alt="詳細">
                <img src="src/img/icescream.png" alt="詳細">
                </div>
            </div>
            </div>
        </div>
        </div>
        <div id="p-index-func__modal--meeting" class="p-index-func__modal u-preload">
        <div id="p-index-func__modal-closer--meeting" class="p-index-func__modal-closer c-btn--quad c-btn--hover-bg-white-back toggler">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="p-index-func__modal-wrap">
            <div class="p-index-func__modal-content row">
            <div class="col col-sp-12 col-tab-4">
                <p class="p-index-func__modal-header">ミーティング</p>
                <p class="p-index-func__modal-txt">hey hey hoo</p>
            </div>
            <div class="col col-sp-12 col-tab-8">
                <div class="p-index-func__modal-thumnails modal-thumnails">
                <img src="src/img/space_big.png" alt="詳細" data-status="on">
                <img src="src/img/sunflower.jpg" alt="詳細">
                </div>
                <div class="p-index-func__modal-mainimage modal-mainimages">
                <img src="src/img/space_big.png" alt="詳細">
                <img src="src/img/sunflower.jpg" alt="詳細">
                </div>
            </div>
            </div>
        </div>
        </div>
        <div id="p-index-func__modal--message" class="p-index-func__modal u-preload">
        <div id="p-index-func__modal-closer--message" class="p-index-func__modal-closer c-btn--quad c-btn--hover-bg-white-back toggler">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="p-index-func__modal-wrap">
            <div class="p-index-func__modal-content row">
            <div class="col col-sp-12 col-tab-4">
                <p class="p-index-func__modal-header">メッセージ</p>
                <p class="p-index-func__modal-txt">
                Ariel, listen to me
                The human world, it's a mess
                Life under the sea is better than anything they've got up there
                <br>
                <br>
                The seaweed is always greener
                In somebody else's lake
                You dream about going up there
                But that is a big mistake
                Just look at the world around you
                Right here on the ocean floor
                Such wonderful things surround you
                What more is you lookin' for?
                <br>
                <br>
                Under the sea, under the sea
                Darling, it's better down where it's wetter
                Take it from me
                Up on the shore, they work all day
                Out in the sun they slave away
                While we devotin', full time to floatin'
                Under the sea (Ah-ha-ha)
                <br>
                <br>
                Down here all the fish is happy
                As off through the waves they roll
                The fish on the land ain't happy
                They sad cause they in their bowl
                But fish in the bowl is lucky
                They in for a worser fate
                One day when the boss get hungry
                Guess who's gon' be on the plate?
                Uh-oh!
                <br>
                <br>
                Under the sea, under the sea
                Nobody beat us
                Fry us and eat us in fricassee
                We what the land folks loves to cook
                Under the sea we off the hook
                We got no troubles, life is the bubbles
                Under the sea (Under the sea)
                Under the sea (Under the sea)
                Since life is sweet here
                We got the beat here naturally (Naturally-y-y-y)
                Even the sturgeon an' the ray
                They get the urge 'n' start to play
                We got the spirit, you got to hear it
                Under the sea
                <br>
                <br>
                [Bridge: Sebastian, Fluke]
                The newt play the flute
                The carp play the harp
                The plaice play the bass
                And they soundin' sharp
                The bass play the brass
                The chub play the tub
                The fluke is the duke of soul (Yeah)
                The ray he can play
                The lings on the strings
                The trout rockin' out
                The blackfish she sings
                The smelt and the sprat, they know where it's at
                An' oh that blowfish blow
                (Wah, ah-ha, yeah)
                </p>
            </div>
            <div class="col col-sp-12 col-tab-8">
                <div class="p-index-func__modal-thumnails modal-thumnails">
                <img src="src/img/icescream.png" alt="詳細" data-status="on">
                </div>
                <div class="p-index-func__modal-mainimage modal-mainimages">
                <img src="src/img/icescream.png" alt="詳細">
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>

{% endblock %}