* { box-sizing: border-box; }
html {
  min-width: 600px;
  font-family: "Helvetica Neue"; 
  font-weight: lighter;}
body {
  height: 100vh;
  margin: auto;
  background: #333333;}
h1 { margin: 0; }
a {
  color: #ffffff;
  outline: none;
  text-decoration: none;}
ul { list-style-type: none }
p { margin: 0; }
input {
  border: none;
  outline: none;}
button {
  border: none;
  outline: none;}
ol {
  margin: 0;
  padding: 0;
  list-style: none;}
tbody { font-weight: 300; }



/* Form */
.form_title {
  font-weight: 300;
  font-size: 18px;
  padding: 5px 15px;
  background: #292929;
  border-radius: 10px 0px 0px;
  position: absolute;
  top: 0;
  left: 0;}
.label_input {
  font-size: 16px;
  font-weight: normal;}
.input_text {
  width: 100%;
  margin: 5px 0 20px;
  background: #444444;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;}
.submit {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  background: #555555;}
.submit:hover { background: #666666; }
.error_message {
  float: right;
  font-size: 14px;
  color: #ff5555;}
#user_form {
  height: 500px;
  width: 770px;
  padding: 40px 180px;
  margin: 50px auto;
  border-radius: 10px;
  background: #333333;
  color: #ffffff;
  position: relative;}
#admin_user_form {
  height: 500px;
  width: 770px;
  padding: 40px 180px;
  margin: 50px auto;
  border-radius: 10px;
  color: #ffffff;}



/* Header */
header {
  width: 100%;
  padding: 13px;
  text-align: center;
  color: #ffffff;
  background: #333333;}
#home_link {
  font-weight: 100;
  color: #ffffff;}
.auth_link {
  margin: 10px;
  font-size: 14px;
  color: #ffffff;}
#header_menu { position: relative; }
#drop_down_menu {
  height: 36px;
  width: 44px;
  z-index: 2;
  background: #222222;
  position: absolute;
  right: 20px;
  bottom: 12px;}
#drop_down_menu .fa-bars {
  line-height: 36px;
  font-size: 25px;
  cursor: normal;}
#menu_list {
  position: relative;
  display: none;}
.drop_down_link {
  position: absolute;
  left: -30px;
  display: flex;
  background: #222222;
  font-size: 14px;
  padding: 6px 8px;
  width: 105px;}
#settings_link { top: 28px; }
.drop_down_link i{ margin-right: 5px; }
#drop_down_menu:hover > #menu_list { display: block; }

/* Auth */
#auth {
  height: calc(100% - 83px);
  min-height: 301px;
  min-width: 771px;
  display: flex;
  background: #444444;}

/* Entry */
.entry {
  height: 430px;
  width: 770px;
  padding: 25px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  border-radius: 10px;
  background: #333333;}
#entry_desc {
  margin: 0 0 30px;}
#entry_title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 5px;}
#entry_text {
  margin: 0;
  font-size: 18px;
  font-weight: normal;}
.entry_link {
  height: 40px;
  width: 100px;
  line-height: 40px;
  border-radius: 5px;
  display: block;
  text-align: center;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: normal;
  background: #555555;}
.entry_link:hover { background: #666666; }



/* Content */
#content {
  height: calc(100% - 83px);
  min-height: 300px;
  min-width: 750px;
  display: flex;}

/* Content > Side */
#side {
  height: fit-content;
  width: 10%;
  display: grid;
  justify-items: center;
  font-size: 30px;}
.side_link {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-bottom: 20px;
  text-align: center;
  background: #444444;}
.side_link i {
  line-height: 60px;
  color: #ffffff;}


/* Content > Main */
#main {
  width: 90%;
  display: flex;
  background: #444444;
  position: relative;}

/* Main > Breadcrumb */
.breadcrumb {
  display: flex;
  position: absolute;
  padding: 10px 20px;
  font-size: 15px;
  color: #ffffff;}
.breadcrumb li:after {
  content: '>';
  padding: 0 8px 0 5px;}
.breadcrumb li:last-child:after{ content: ''; }

/* Main > Channel */
#channel_side {
  width: 17%;
  background: #444444;}
#channel_title {
  height: 50px;
  padding-left: 10px;
  border-bottom: 2px solid #333333;
  display: grid;
  align-items: center;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;}
#channel_list {
  padding-left: 10px;}
#channel_list li {
  margin-bottom: 5px;}
.channel_link {
  font-size: 14px;
  color: #ffffff;}
#marked { font-weight: normal; }

/* Top > Chanel Main */
#channel_main {
  width: 83%;
  background: #555555;}
/* Top > Channel Main > Header */
#channel_main_header {
  height: 50px;
  width: 75%;
  min-width: 450px;
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  border-bottom: 2px solid #333333;
  background: #555555;}
#channel_name {
  padding: 0 10px;
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;}
#search_bar {
  height: 30px;
  line-height: 30px;
  width: 250px;
  margin-left: 5%;
  padding: 0 10px;
  border-radius: 3px;
  font-weight: normal;
  background: #333333;
  color: #ffffff;}
/* Top > Channel Main > Content */
#channel_main_content {
  height: 100%;
  padding: 50px 0 80px 0;
  overflow: scroll;}
.chat {
  padding: 20px;
  color: #ffffff;}
.nickname { font-weight: normal; }
.chat_date {
  font-weight: normal;
  font-size: 12px;
  color: #999999;}
.img_container {
  height: 200px;
  width: 300px;
  position: relative;}
.img_container img { position: absolute; }
.icon_block {
  position: absolute;
  bottom: 5px;
  right: 0px;
  z-index: -1;}
.icon_block i {
  background: #333333;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  margin-right: 5px;}
.img_container img:hover + .icon_block { z-index: 0; }

/* Top > Channel Main > Footer */
#channel_main_footer {
  height: 80px;
  width: 75%;
  min-width: 500px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background: #555555;}
#message_bar {
  height: 50px;
  line-height: 50px;
  width: 85%;
  padding: 0 30px;
  margin: auto;
  border-radius: 3px;
  font-weight: normal;
  background: #666666;
  color: #999999;}



/* Peofile */
#profile {
  width: 100%;
  min-height: 301px;
  min-width: 701px;
  display: flex;
  background: #444444;
  background-image: none;}



/* Add Channel */
#add_channel {
  width: 100%;
  min-height: 401px;
  min-width: 701px;
  display: flex;
  background: #444444;}
#add_channel_wrapper {
  height: 400px;
  width: 700px;
  padding: 25px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  background: #333333;
  border-radius: 10px;}
#added_member_list {
  height: 100px;
  width: 230px;
  font-size: 12px;
  font-weight: normal;
  overflow: scroll;}
.added_member_info {
  width: fit-content;
  padding: 3px 6px;
  margin: 0 7px 7px 0;
  float: left;
  border-radius: 5px;
  background: #444444;
  cursor: default;}
.added_member_info:hover { background: #555555; }
.fa-times { cursor: pointer; }
#all_clear {
  clear: left;
  width: fit-content;
  padding: 8px 22px;
  margin-bottom: 5px;
  border-radius: 5px;
  background: #555555;
  cursor: pointer;}
#all_clear:hover { background: #666666; }


/* Search Chennel */
#search_channel {
  width: 100%;
  min-height: 401px;
  min-width: 701px;
  display: flex;
  background: #444444;}
#search_channel_wrapper {
  height: 400px;
  width: 700px;
  padding: 25px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  background: #333333;
  border-radius: 10px;}
#search_block {
  display: flex;
  flex-direction: column;
  align-items: center;}
#channel_search_bar {
  width: 250px;}
#searched_channel_list {
  height: 220px;
  width: 200px;
  overflow: scroll;
  font-size: 14px;}
.searched_channel_info {
  padding: 8px 15px 8px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #555555;}



/* Settings */
#settings {
  width: 100%;
  min-height: 401px;
  min-width: 701px;
  display: flex;
  background: #444444;}
#settings_wrapper {
  height: 400px;
  width: 700px;
  padding: 55px 0 0 70px;
  margin: auto;
  color: #ffffff;
  background: #333333;
  border-radius: 10px;}
#settings_wrapper span {
  font-size: 20px;
  font-weight: 200;}
#settings_wrapper ol {
  padding: 12px 0 0 50px;}
#settings_wrapper ol li {
  margin-bottom: 10px;}



/* Admin */
.alert {
  padding: 0.5rem 1rem;
  font-size: 15px;}
.alert-dismissible .btn-close { padding: 0.75rem 1rem; }
#admin_wrapper {
  height: calc(100% - 56px);
  border-top: solid 1px #333333;}
#table_frame {
  height: 650px;
  width: 80%;
  min-width: 510px;
  margin: 25px auto;
  padding: 50px 50px 40px;
  border-radius: 10px;
  font-size: 15px;
  background: #212529;
  overflow: scroll;}
#table_wrapper{
  height: 100%;
  overflow: scroll;}
#user_list_tb { font-size: 13px; }