<!-- header.html -->

{% if title not in ['Sign Up', 'Log In', 'Forgot Password?', 'Reset Passoword'] %}
<header class="l-header c-flex-wrapper--row">
    <div class="l-header__wrap">
    <a href="{{url_for('user.intl')}}" id="l-header__home-entry"><h3>Log Base</h3></a>
    <div id="l-header__mainmenu-toggler" class="toggler u-dn-pc">
        <div id="l-header__mainmenu-opener" class="c-btn--quad c-btn--hover-bg-primary">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div id="l-header__mainmenu-closer" class="c-btn--quad c-btn--hover-bg-primary">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>
    </div>
    <ul id="l-header__mainmenu" class="u-non-anim-pc">
        <li class="l-header__mainmenu-item">
            <div id="l-header__top-entry" class="l-header__main-layer-entry">トップ</div>
        </li>
        <li class="l-header__mainmenu-item">
            <div id="l-header__about-entry" class="l-header__main-layer-entry">このサイトについて</div>
        </li>
        <li class="l-header__mainmenu-item">
            <div class="l-header__submenu-toggler toggler">
            <p>機能</p>
            <div class="l-header__submenu-arrow u-dn-pc"></div>
            </div>
            <ul class="l-header__submenu tgl-reactor">
            <li>
                <div id="l-header__modal-opener--p-index-func-channel" class="l-header__sub-layer-entry">
                <div class="l-header__submenu-pilar-icon"></div>
                <div>
                    <p class="l-header__submenu-item-title">チャンネル</p>
                    <p class="l-header__submenu-item-detail">スムーズなタスク整理</p>
                </div>
                </div>
            </li>
            <li>
                <div id="l-header__modal-opener--p-index-func-meeting" class="l-header__sub-layer-entry">
                <div class="l-header__submenu-pilar-icon"></div>
                <div>
                    <p class="l-header__submenu-item-title">ミーティング</p>
                    <p class="l-header__submenu-item-detail">生産的なミーティング環境</p>
                </div>
                </div>
            </li>
            <li>
                <div id="l-header__modal-opener--p-index-func-message" class="l-header__sub-layer-entry">
                <div class="l-header__submenu-pilar-icon"></div>
                <div>
                    <p class="l-header__submenu-item-title">メッセージ</p>
                    <p class="l-header__submenu-item-detail">グループのコミュニケーションを効率化</p>
                </div>
                </div>
            </li>
            </ul>
        </li>
        <li class="l-header__mainmenu-item">
            <div class="l-header__submenu-toggler toggler">
            <span>サインイン</span>
            <div class="l-header__submenu-arrow u-dn-pc"></div>
            </div>
            <ul class="l-header__submenu tgl-reactor">
            <li>
                <a href="{{url_for('user.login')}}" class="l-header__sub-layer-entry">
                <div class="l-header__submenu-pilar-icon"></div>
                <div>
                    <p class="l-header__submenu-item-title">サインイン</p>
                    <p class="l-header__submenu-item-detail">既にアカウントをお持ちの方</p>
                </div>
                </a>
            </li>
            <li>
                <a href="{{url_for('user.signup')}}" class="l-header__sub-layer-entry">
                <div class="l-header__submenu-pilar-icon"></div>
                <div>
                    <p class="l-header__submenu-item-title">アカウントを作成</p>
                    <p class="l-header__submenu-item-detail">新規アカウントを作成します</p>
                </div>
                </a>
            </li>
            </ul>
        </li>
    </ul>
    <div class="l-header__flash-wrap">
        {% for message in get_flashed_messages() %}
        <div class="l-header__flash-message">
            <p>{{message}}</p>
            <button class="l-header__flash-closer">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        {% endfor %}
    </div>
</header>
{% endif %}