<form method="POST" id="user_form" novalidate>
    <span class="form_title"># {{title}}</span>
    {{ form.hidden_tag() }}

    {% include 'project/user/component/form/input/name.html' %}
    <br>

    {% include 'project/user/component/form/input/email.html' %}
    <br>

    {% include 'project/user/component/form/input/password.html' %}
    <br>

    {% include 'project/user/component/form/input/password_conf.html' %}
    <br>

    {% include 'project/user/component/form/input/submit.html' %}
</form>