{% extends 'user/layout.html' %}

{% block content %}

<div id="search_channel">
    <div id="search_channel_wrapper">
        <div id="search_block">
            <form action="/search">
                <input class="input_text" id="channel_search_bar" type="text" name="channel_name" placeholder="Search"><br>
            </form>
            <div id="searched_channel_list">
                {% for _ in range(10) %}
                    <div class="searched_channel_info">
                        <span class="searched_channel">Python</span>
                        <span>3</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}