//_utility.scss

@use "../../foundation/tools/global" as *;

// 該当のデバイス画角に対応するdisplay:noneです -------------------------------------

//Smartphone(sp)
.u-dn-sp {
  @include mq(sp) {
    display: none !important;
  }
}

//Tablet(tab)
.u-dn-tab-max {
  @include mq(tab-max) {
    display: none !important;
  }
}

.u-dn-tab-min {
  @include mq(tab-min) {
    display: none !important;
  }
}

// PC(pc)
.u-dn-pc {
  @include mq(pc) {
    display: none !important;
  }
}


// 該当のデバイス画角に対応してアニメーションを無効にします -----------------------------

//Smartphone(sp)
.u-non-anim-sp {
  @include mq(sp) {
    transition: none !important;
    transform: none !important;
  }
}

//Tablet(tab)
.u-non-anim-tab-max {
  @include mq(tab-max) {
    transition: none !important;
    transform: none !important;
  }
}

.u-non-anim-tab-min {
  @include mq(tab-min) {
    transition: none !important;
    transform: none !important;
  }
}

// PC(pc)
.u-non-anim-pc {
  @include mq(pc) {
    transition: none !important;
    transform: none !important;
  }
}

// その他 ----------------------------------------------------------------------

// マウスカーソルの形をポインター型にします //! つかってねー
.u-pointer { cursor: pointer; }

// 画面更新後に起こる、アニメーションの誤挙動を制御します(src/js/preloadm.jsありき)
.u-preload { display: none; }

// アイコン等を含むテキストの並びを並行にします
.u-txt-opt {
  display: flex;
  align-items: center;
}