<div id="channel_side">
    <div id="channel_title">CHANNELS</div>
    <ul id="channel_list">
        <li><a class="channel_link" id="marked" href="/">▶︎ Python</a></li>
        <li><a class="channel_link" href="/">▷ HTML</a></li>
        <li><a class="channel_link" href="/">▷ CSS</a></li>
    </ul>
</div>

<div id="channel_main">
    <div id="channel_main_header">
            <span id="channel_name">▶︎ Python</span>
            <form action="#">
                <input id="search_bar" type="text" placeholder="Search">
            </form>
        </div>
    <div id="channel_main_content">
        <div class="chat">
            <div class="chat_info">
                <span class="nickname">Jhone</span>
                <span class="chat_date">01/13/2021</span>
            </div>
            <div class="img_container">
                <img width="300" src="{{ url_for('static', filename='image/sunflower.jpg') }}">
                <div class="icon_block">
                    <i class="fas fa-share-square"></i>
                    <i class="fas fa-vector-square"></i>
                </div>
            </div>
        </div>
        <div class="chat">
            <div class="chat_info">
                <span class="nickname">Jhone</span>
                <span class="chat_date">01/13/2021</span>
            </div>
            <video controls width="300">
                <source src="{{ url_for('static', filename='video/star.mp4') }}" type="video/mp4">
            </video>
        </div>
        {% for _ in range(3) %}
            <div class="chat">
                <div class="chat_info">
                    <span class="nickname">Jhone</span>
                    <span class="chat_date">01/13/2021</span>
                </div>
                <p class="text">Hello</p>
            </div>
        {% endfor %}
    </div>
    <div id="channel_main_footer">
        <div id="message_bar">
            Message @Python
        </div>
    </div>
</div>