<!-- auth.html -->

{% extends 'project/admin/layout.html' %}

{% block main %}

<div class="l-main__section">
    <div class="content">
        <h1 class="l-main__section-header">ADMIN {{title}}</h1>
        <form method="POST" id="user_form" class="p-form__wrap" novalidate>
            {{ form.hidden_tag() }}
            
            {{ form.email.label(class="p-form__input-label") }}
            <p class="p-form__error-msg" id="error_email" data-error="{{form.is_valid('email')}}">
                {{form.email.errors[0]}}
            </p>
            {{ form.email(class="p-form__input", placeholder="email@address.com") }}


            {{ form.psw.label(class="p-form__input-label") }}
            <button id="p-form__password-visualizer" type="button">
                <i class="fa-solid fa-eye-slash"></i>
                <i class="fa-solid fa-eye"></i>
            </button>
            <p class="p-form__error-msg" id="error_psw" data-error="{{form.is_valid('psw')}}">
                {{form.psw.errors[0]}}
            </p>
            {{ form.psw(class="p-form__input", placeholder="Password") }}


            {{ form.submit(class='p-form__submit c-btn--submit c-btn--bg-primary c-btn--hover-bg-secondary') }}
        </form>
    </div>
</div>

{% endblock %}