{% extends 'project/admin/layout.html' %}

{% block main %}

<!-- そのうちフィルターつけよう -->

<div class="l-main__section">
    <div class="content">
        <h1 class="l-main__section-header">User List</h1>
        <div class="p-user-list__table">
            <div class="p-user-list__head-wrap row u-dn-sp">
                <div class="p-user-list__head col-tab-1">Id</div>
                <div class="p-user-list__head col-tab-3">Name</div>
                <div class="p-user-list__head col-tab-4">Email</div>
                <div class="p-user-list__head col-tab-3">Created Date</div>
            </div>
            {% for user in users %}
                {% if user.master == false and (user.admin == false or g.admin.master == true) %}
                    <div class="p-user-list__user-info-list row">
                        <div class="p-user-list__user-info-wrap col-tab-1">
                            <p class="u-dn-tab-min">Id : </p>
                            <p class="p-user-list__user-info">{{user.id}}</p>
                        </div>
                        <div class="p-user-list__user-info-wrap col-tab-3 col-sp-4">
                            <p class="u-dn-tab-min">Name : </p>
                            <a href="edit_user/{{user.id}}" class="p-user-list__user-info--name">
                                {% if user.admin == true %}
                                Administrator
                                {% else %}
                                {{user.name}}
                                {% endif %}
                            </a>
                        </div>
                        <div class="p-user-list__user-info-wrap col-tab-4">
                            <p class="u-dn-tab-min">Email : </p>
                            <p class="p-user-list__user-info">{{user.email}}</p>
                        </div>
                        <div class="p-user-list__user-info-wrap col-tab-3">
                            <p class="u-dn-tab-min">Born : </p>
                            <p class="p-user-list__user-info">{{user.date_added.strftime('%Y/%m/%d %H:%M')}}</p>
                        </div>
                        <div class="p-user-list__user-info-wrap col-tab-1">
                            <button
                                data-confirm_txt="ユーザー {{user.name}} を削除しますか?"
                                data-url="delete_user/{{user.id}}"
                                class="p-user-list__user-delete-btn confirm"
                            >
                            delete
                            </button>                        
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}