// _header.scss

@use "../foundation/tools/global" as *;

.l-header__submenu-toggler,
.l-header__main-layer-entry, .l-header__sub-layer-entry {
  padding: $space-sm 0;
  cursor: pointer;
  @include hover() {
    background-color: map-get($bg-colors, secondary);
  }
  @include mq(pc) {
    padding: $space-sm;
    border-radius: map-get($border-radius-size, primary);
  }
}

.l-header__sub-layer-entry { 
  display: flex;
  align-items: center;
}

#l-header {
  align-items: center;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: map-get($l-header, border);
  width: 100%;
  height: map-get($l-header, container-height);
  background-color: map-get($bg-colors, primary);
}

/* --------------------------------------------------------------------
|  height, background-colorは                                          |
|  l-header-wrapの裏からスライド表示されるl-header-menuの透過を隠す目的       |
----------------------------------------------------------------------*/
.l-header__wrap {
  display: flex;
  flex: 1;
  flex-flow: row;
  align-items: center;
  z-index: 4;
  height: 100%;
  width: 100%;
  padding: 0 $space-lg;
  background-color: map-get($bg-colors, primary);
  @include mq(tab-max) {
    flex: none;
  }
}

#l-header__home-entry {
  margin-right: auto;
  padding: $space-sm;
  border-radius: map-get($border-radius-size, primary);
  font-size: map-get($font-size, link-primary);
  @include hover() {
    background-color: map-get($bg-colors, secondary);
  }
}

#l-header__mainmenu-toggler {
  position: relative;
}

#l-header__mainmenu-opener {
  transform: scale(1);
  position: absolute;
  top: -17px;
  right: 0;
  border: none;
  font-size: map-get($font-size, btn-icon);
  > i {
    margin: auto 0;
  }
  &[data-status="on"] {
    transition: transform 0.15s 0s ease;
    transform: scale(0);
  }
  &[data-status="off"] {
    transition: transform 0.15s 0.15s ease;
    transform: scale(1);
  }
}

#l-header__mainmenu-closer {
  transform: scale(0);
  position: absolute;
  top: -17px;
  right: 0;
  &[data-status="on"] {
    transition: transform 0.15s 0.15s ease;
    transform: scale(1);
  }
  &[data-status="off"] {
    transition: transform 0.15s 0s ease;
    transform: scale(0);
  }
}

#l-header__mainmenu {
  transition: transform 0.3s 0s ease;
  display: flex;
  flex-flow: row;
  align-items: center;
  z-index: 4;
  padding: 0 $space-xlg;
  background-color: map-get($bg-colors, primary);
  @include mq(tab-max) {
    flex-flow: column;
    align-items: initial;
    z-index: 3;
    position: absolute;
    bottom: 1.5px;
    border-bottom: map-get($border, primary);
    width: 100%;
  }
  &[data-status="on"] {
    transform: translateY(100%);
  }
  &[data-status="off"] {
    transform: translateY(-60px);
  }
}

.l-header__mainmenu-item {
  position: relative;
  @include hover(pc) {
    .l-header__submenu {
      display: block;
    }
  }
}

.l-header__mainmenu-item + li {
  @include mq(tab-max) {
    border-top: map-get($border, primary);
  }
}

.l-header__submenu {
  display: none;
  @include mq(pc) {
    position: absolute;
    top: 38px;
    right: 0;
    width: max-content;
    min-width: 220px;
    max-width: 250px;
    padding: $space-2xsm;
    border: map-get($border, primary);
    border-radius: map-get($border-radius-size, primary);
    background-color: map-get($bg-colors, primary);
  }
  @include mq(tab-max) {
    &[data-status="on"] {
      display: block;
    }
    &[data-status="off"] {
      display: none;
    }
  }
}

.l-header__submenu-toggler {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.l-header__submenu-arrow {
  position: relative;
  display: inline-block;
  &::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 0.3rem;
    transform: rotate(135deg);
    width: 7px;
    height: 7px;
    margin-top: -0.5rem;
    border-right: solid 1.5px map-get($font-colors, primary);
    border-top: solid 1.5px map-get($font-colors, primary);
  }
}

.l-header__submenu-pilar-icon { //? pilar icon componentならん？ (p-index-aboutにあり)
  height: 2rem;
  border-left: 4px solid white;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: $space-md;
}

.l-header__submenu-item-title {
  font-size: map-get($font-size, title-quaternary);
}

.l-header__submenu-item-detail {
  font-size: map-get($font-size, note);
  margin-top: $space-xsm;
  word-wrap: break-word;
}

.l-header__flash-wrap {
  display: flex;
  position: fixed;
  top: map-get($l-header, container-height);
}

.l-header__flash-message {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: $space-2xsm $space-xlg;
  border-bottom: map-get($border, primary);
  background-color: map-get($bg-colors, secondary);
}