// _main.scss

.l-main { padding-top: map-get($l-header, base-height); }

.l-main__section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: calc(100vh - (map-get($l-header, base-height) + (map-get($l-footer, height))));
  > .content {
    position: relative;
    width: map-get($l-main, content-width);
    max-width: map-get($l-main, content-maxwidth);
  }
}

.l-main__section-header {
  text-align: center;
  margin-bottom: $space-lg;
  font-size: map-get($p-index, header-font-size);
} 

.l-main__section-brief {
  text-align: center;
  margin-bottom: $space-xlg;
  font-size: map-get($p-index, txt-font-size);
  line-height: map-get($lineheight-size, double);
}

.l-main__link-section {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  width: 100%;
  position: absolute;
  bottom: calc(100% + $space-2xlg);
}

.l-main__link-section-text { margin: 0 $space-2xsm; }