{% extends 'base.html' %}

{% block title %}ADD CHANNEL{% endblock %}
{% block content %}
    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope
            itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="/">
                <span itemprop="name">CHAT SPACE</span>
            </a>
            <meta itemprop="position" content="1" />
        </li>

        <li itemprop="itemListElement" itemscope
            itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="add_channel">
                <span itemprop="name">ADD CHANNEL</span>
            </a>
            <meta itemprop="position" content="2" />
        </li>
    </ol>
    <div id="add_channel">
        <div id="add_channel_wrapper">
            <span class="form_title">ADD CHANNEL</span>
            <form action="/add_channel">
                <label class="label_input" for="channel_name">Group Name</label><br>
                <input class="input_text" type="text" name="channel_name"><br>
                <label class="label_input" for="channel_member">Member</label><br>
                <input class="input_text" type="text" name="channel_member"><br>
                <div id="added_member_list">
                    {% for _ in range(10) %}
                        <div class="added_member_info">
                            <span class="added_member_name">Jhone</span>
                            <i class="fas fa-times"></i>
                        </div>
                    {% endfor %}
                    <div id="all_clear">
                        <span>CLEAR</span>
                    </div>
                </div>
                <input class="submit" type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}