<!DOCTYPE html>
<html>
    <head>
        <title>ChatSpace - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/base.css') }}" media="screen">
        <script src="https://kit.fontawesome.com/8989297e1e.js" crossorigin="anonymous"></script>
        {% block head %}{% endblock head %}
    </head>
    <body>
        <header>
            <h1><a id="home_link" href="/">CHAT SPACE</a></h1>
            <div id="header_menu">
                {% if type == "in" %}
                    <a class="auth_link" id="" href="entry">LOG OUT</a>
                    <span>/</span>
                    <a class="auth_link" id="" href="profile">PROFILE</a>
                    <div id="drop_down_menu">
                        <i class="fas fa-bars"></i>
                        <div id="menu_list">
                            <a id="profile_link" class="drop_down_link" href="profile">
                                <i class="fas fa-user"></i>
                                PROFILE
                            </a>
                            <a id="settings_link" class="drop_down_link" href="/">
                                <i class="fas fa-cog"></i>
                                SETTINGS
                            </a>
                        </div>
                    </div>
                {% else %}
                    <a class="auth_link" id="" href="login">LOG IN</a>
                    <span>/</span>
                    <a class="auth_link" id="" href="signup">SIGN UP</a>
                {% endif %}
            </div>
        </header>
        {% if type == "in" %}
            <div id="content">
                <div id="side">
                    <a class="side_link" id="side_add_link" href="add_channel"><i class="fas fa-plus"></i></a>
                    <a class="side_link" id="side_search_link" href="search"><i class="fas fa-search-plus"></i></a>
                </div>
                <div id="main">
                    {% block content %}{% endblock %}
                </div>
            </div>
        {% else %}
            <div id="auth">
                {% block auth %}{% endblock %}
            </div>
        {% endif %}
    </body>
</html>