{% extends 'base.html' %}

{% block title %}Settings{% endblock %}
{% block content %}
    <div id="settings">
        <div id="settings_wrapper">
            <span>■ ACCOUNT</span>
            <ol>
                <li><a href="config">- Profile</a></li>
                <li><a href="config">- Privacy</a></li>
                <li><a href="config">- Connctions</a></li>
                <li><a href="config">- Disable Account</a></li>
            </ol>
            <span>■ APP</span>
            <ol>
                <li><a href="config">- Display</a></li>
                <li><a href="config">- Langage</a></li>
                <li><a href="config">- Notifications</a></li>
            </ol>
        </div>
    </div>
{% endblock %}