{% extends 'base.html' %}

{% block title %}ENTRY{% endblock %}
{% block auth %}
    <div class="entry">
        <table id="entry_desc">
            <tr><th id="entry_title">Welcome to Chat Space!</th></tr>
            <tr><td id="entry_text">
                 Chat Space provides space to organize your project
                 <br>
                 by topic and facilitate communication.
            </td></tr>
        </table>
        <div id="entry_btn_list">
            <a class="entry_link" onclick="location.href='/login'">LOG IN</a>
            <a class="entry_link" onclick="location.href='/signup'">SGIN UP</a>
        </div>
    </div>
{% endblock %}


