{% extends 'base.html' %}

{% block title %}PROFILE{% endblock %}
{% block content %}
    <div id="profile">
        <div class="entry">
            <span class="form_title">PROFILE</span>
            <form action="/profile">
                <label class="label_input" for="nickname">Nickname</label><br>
                <input class="input_text" type="text" name="nickname" placeholder="Nickname" id="nickname"><br>
                <label class="label_input" for="password">Password</label><br>
                <input class="input_text" type="password" name="password" placeholder="Password" id="password"><br>
                <input class="submit" type="submit" value="Update">
            </form>
        </div>
    </div>
{% endblock %}