{% extends 'base.html' %}

{% block title %}ADD CHANNEL{% endblock %}
{% block content %}
    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope
            itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="/">
                <span itemprop="name">CHAT SPACE</span>
            </a>
            <meta itemprop="position" content="1" />
        </li>
        <li itemprop="itemListElement" itemscope
            itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="SEARCH">
                <span itemprop="name">SEARCH</span>
            </a>
            <meta itemprop="position" content="2" />
        </li>
    </ol>
    <div id="search_channel">
        <div id="search_channel_wrapper">
            <span class="form_title">SEARCH CHANNEL</span>
            <div id="search_block">
                <form action="/search">
                    <input class="input_text" id="channel_search_bar" type="text" name="channel_name" placeholder="Search"><br>
                </form>
                <div id="searched_channel_list">
                    {% for _ in range(10) %}
                        <div class="searched_channel_info">
                            <span class="searched_channel">Python</span>
                            <span>3</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}