{% extends 'base.html' %}

{% block title %}SIGNUP{% endblock %}
{% block auth %}
    <div class="entry" id="signup">
        <span class="form_title">SIGN UP</span>
        <form action="/signup">
            <label class="label_input" for="nickname">Nickname</label><br>
            <input class="input_text" type="text" name="nickname" placeholder="Nickname" id="nickname"><br>
            <label class="label_input" for="password">Password</label><br>
            <input class="input_text" type="password" name="password" placeholder="Password" id="password"><br>
            <input class="submit" type="submit" value="Submit">
        </form>
    </div>
{% endblock %}