{% extends 'base.html' %}

{% block title %}TOP{% endblock %}
{% block content %}
    <div id="channel_side">
        <div id="channel_title">CHANNELS</div>
        <ul id="channel_list">
            <li><a class="channel_link" id="marked" href="/">▶︎ Python</a></li>
            <li><a class="channel_link" href="/">▷ HTML</a></li>
            <li><a class="channel_link" href="/">▷ CSS</a></li>
        </ul>
    </div>

    <div id="channel_main">
        <div id="channel_main_header">
             <span id="channel_name">▶︎ Python</span>
             <div id="search_bar">Search</div>
        </div>
        <div id="channel_main_content">
            {% for _ in range(10) %}
            <div class="chat">
                <div class="chat_info">
                    <span class="nickname">Jhone</span>
                    <span class="chat_date">01/13/2021</span>
                </div>
                <p class="text">Hello</p>
            </div>
            {% endfor %}
        </div>
        <div id="channel_main_footer">
            <div id="message_bar">
                Message @Python
            </div>
        </div>
    </div>
{% endblock %}